{% extends "base.html" %}
{% block title %} Lista {%  endblock %}

{% block content %}
	<table class = "table">
		<th>Nombre de Software</th>
		<th>Funcion</th>
		<th>Departamento</th>
		<th>Slug</th>
		<th>|</th>
		<th>Actions</th>
		<th>|</th>
		{% for objeto in object_list %}
			<tr>
				<td>{{ objeto.nombre_soft }}</td>
				<td>{{ objeto.funcion }}</td>
				<td>{{ objeto.departamento }}</td>
				<td>{{ objeto.slug }}</td>
				<td><a href="{% url 'update' objeto.id %}"> Actualiza SF </a></td>
				<td> </td>
				<td><a href="{% url 'updatedep' objeto.id %}"> Actualiza DEP </a></td>
			</tr>
		{% endfor %}
	</table>
<center><h3> Agregar </h3></center>
	<button class = "btn btn-outline-primary form-control"> <a href="{% url 'create' %}"> Agregar Software </a> </button>
	<button class = "btn btn-outline-warning form-control"><a href="{% url 'createdep'%}"> Agregar Departamento </a></button>

{% endblock %}