{% extends "base.html" %}

{% block title %}Detail Pokemon{% endblock %}

{% block content %}
    <table class="table table-striped">
		<th>Trabajo Titulo</th>
		<th>Trabajo Tipo</th>
		<th>Autor</th>
		<th>Fecha</th>
			<tr>
				<td>{{ object.Titulo }}</td>
				<td>{{ object.Tipo }}</td>
				<td>{{ object.Autor }}</td>
				<td>{{ object.Fecha }}</td>
            </tr>
	</table>
    <a href="{% url 'list' %}">
        <button type="submit" class="btn btn-outline-primary form-control">Back</button>
    </a>



{% endblock %}