{% extends "base.html" %}

{% block title %}List Trabajos{% endblock %}

{% block content %}


	<table class="table table-striped">
		<th>Trabajo Titulo</th>
		<th>Trabajo Tipo</th>
		<th>Autor</th>
		<th>Fecha</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for tb in object_list %}
			<tr>
				<td>{{ tb.Titulo }}</td>
				<td>{{ tb.Tipo }}</td>
				<td>{{ tb.Autor }}</td>
				<td>{{ tb.Fecha }}</td>
				<td><a href="{% url 'detail' tb.id %}"> Detalles </a></td>
				<td>  </td>
				<td><a href="{% url 'update' tb.id %}"> Actualiza </a></td>

			</tr>
	{% endfor %}
	</table>
	

{% endblock %}