{% extends "base.html" %}

{% block title %}Update Investigacion{% endblock %}

{% block content %}

	<form class="form-group" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-outline-primary form-control">Update</button>
        <button type="reset" class="btn btn-outline-warning form-control">Cancel</button>
	</form>
        <a href="{% url 'list' %}">
        <button type="button" class="btn btn-info form-control">Atras</button>
        </a>
    

{% endblock %}